/*stylesheet für daily news*/
body{
    background-color: #848484;
    font-family: Arial;
    font-size: 1em;
}
h1{
    margin-bottom: 0em;
    font-size: 2em;
    color: #FFFFFF;
    background-color: #610B0B;
    text-align: center;
}
h5{
    margin-top: 0em;
    padding-top: 0em;
    font-size: 1em;
    text-align: center;
    color: #610B0B;
}
ul{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF
}
aside{
    text-align: right;
    background-color: #FFFFFF;
    color: #111111;
    margin: 1em;
    padding: 2,5em 5em 2,5em 5em
}
h2{
    color: #FFFFFF;
    background-color: #610B0B;
    font-size: 1,5em;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: #111111;
}
section{
    background-color: #FFFFFF;
    width: 98%
}
article{
    background-color: #424242;
    width: 70%
}
#Brexit{
    width: 30%;
    border: #FFFFFF;
    border-radius: 10%;
    border: 0,5em;
}
#Bundestag{
    width: 30%;
    border: #FFFFFF;
    border-radius: 10%;
    border: 0,5em;
}
#Sport{
    width: 30%;
    border: #FFFFFF;
    border-radius: 10%;
    border: 0,5em;
}
footer{
    background-color: #FFFFFF;
    color: #424242;
    font-family: 'Times New Roman', Times, serif;
    
}