/*stylesheet für daily news*/
body{
    background-color: #848484;
    font-family: Arial;
    font-size: 1em;
}
h1{
    margin-bottom: 0em;
    font-size: 2em;
    color: #FFFFFF;
    background-color: #610B0B;
    text-align: center;
    width: 100%
}
h5{
    margin-top: 0em;
    padding-top: 0em;
    font-size: 1em;
    text-align: center;
    color: #610B0B;
}
nav.static{
    position: fixed;
}
nav{
    font-size: 1.7em;
    color: #FFFFFF;
    text-align: center;
}
li{
    display: inline;
    width: 100%;
    text-align: center;
    margin: 1em;
}
main{
    width: 75%;
    position: relative;
    margin-left: 10%;
}
aside :hover{
    text-align: right;
    background-color: #FFFFFF;
    color: #111111;
    width: 12,5%;
    position: absolute;
}
h2{
    color: #FFFFFF;
    background-color: #610B0B;
    font-size: 1,5em;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: #111111;
}
section{
    background-color: #FFFFFF;
    max-width: 100%;
    height: 20em;
    overflow: auto;
    
}
article{
    background-color: #424242;
    width: 25%;
    float: left;
    margin: 1em;
}
img{
    width: 100%;
    border: #FFFFFF;
    border-radius: 10%;
    border: 0,5em;
}
}
#Brexit{
    width: 100%;
    border: #FFFFFF;
    border-radius: 10%;
    border: 0,5em;
}
#Bundestag{
    width: 100%;
    border: #FFFFFF;
    border-radius: 10%;
    border: 0,5em;
}
#Sport{
    width: 100%;
    border: #FFFFFF;
    border-radius: 10%;
    border: 0,5em;
}
footer{
    background-color: #FFFFFF;
    color: #424242;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    float: left;
    
}